.blogs_head{
    ul{
        list-style: none;
        display: inline-flex;
        margin-left: 10% ;
        li{
            width: 300px;
            padding: 10px 5px;
            background-color: rgb(255,81,81);
            font-size: 22px;
            margin: 0 1%;
            font-weight: 500;
            text-align: center;
            @media(max-width:600px){
               width: 80px;
               font-size: 10px;
               padding: 5px 1px;
            }
        }
        @media(max-width:600px){
        margin: -2%;
        width: 100%;
        margin-bottom: 20px;
        }
    }
   
    
}
.contain{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    @media(max-width:600px){
        flex-direction: column;
        width: 100%;
    }
    .colum{
        width: 33%;
        margin: 10px;
        @media(max-width:600px){
            width: 80%;
            margin: auto;
            margin-bottom: 5%;
        }
    }
}
.page{
    margin-left: 35%;
    margin-top: 2%;
    @media(max-width:600px){
         margin-left: 10%;
        margin-bottom: 5%;
    }
}